@use "../global/" as *;

:root {
  --font-base: "Helvetica Neue", arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", meiryo, sans-serif;
  --base-color: #f5f5f5;
  --main-color: #333;
  --accent-color: #ca2a48;
  --text-color: var(--main-color);
  --link-color: #349bf4;
  --content-width: 1110;
  --sp-comp-width: 375;
  --pc-comp-width: 1366;
}

html {
  block-size: 100%;
  scroll-behavior: smooth;
  text-size-adjust: none;
}

body {
  box-sizing: border-box;
  min-block-size: 100%;
  background-color: var(--base-color);
  color: var(--text-color);
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  text-rendering: optimizelegibility;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:not([class]) {
    color: var(--color-link);
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  @include hover {
    text-decoration: none;
  }
}

button {
  display: inline-block;
  appearance: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

em {
  font-style: normal;
}
