@use "sass:map";

// Media Query
// -------------------------
$breakpoints: (
  xs: 0,
  sm: calc(576 / 16 * 1em),
  md: calc(768 / 16 * 1em),
  lg: calc(992 / 16 * 1em),
  xl: calc(1200 / 16 * 1em),
  xxl: calc(1400 / 16 * 1em),
) !default;

@mixin mq($name, $not: false) {
  @if not map.has-key($breakpoints, $name) {
    @error 'ブレイクポイント【#{$name}】は定義されていません。';
  }

  $breakpoint: map.get($breakpoints, $name);

  // `@media (min-width: 0) {...}`は不要とする
  @if $breakpoint == 0 {
    @content;
  }

  // $not:trueの場合、notキーワードでメディアクエリーを反転
  @else if $not {
    @media not all and (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  }
}

// hover
// ホバークエリでデバイス毎に分岐
// -------------------------
// @see https://developer.mozilla.org/ja/docs/Web/CSS/@media/hover
// @see https://qiita.com/gilly/items/546adecd18a8db3fd059

@mixin hover() {
  // スマートフォン・タブレット
  @media (hover: none) and (any-pointer: coarse) {
    &:active {
      @content;
    }
  }

  // デスクトップ
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}
