@use "../../global/" as *;

.c-card {
  display: flex;
  flex-direction: column;

  @include hover {
    .c-card__img {
      scale: 1.1;
    }
  }
}

.c-card__body {
  padding-top: 1.25rem;
}

.c-card__title {
  margin: 0;
  font-size: 0.9375rem;
  line-height: 1.6;
}

.c-card__date {
  margin-top: 0.3125rem;
  font-size: 0.75rem;

  @include mq(md) {
    margin-top: 0.625rem;
  }
}

.c-card__thumbnail {
  order: -1;
  aspect-ratio: 350/180;
  overflow: hidden;
}

.c-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.25s ease;
}
