@use "../../global/" as *;

.p-feature {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq(md) {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

.p-feature__body {
  flex: 1;
  letter-spacing: 0.1em;
}

.p-feature__title {
  margin: 0;
  font-size: 0.9375rem;
}

.p-feature__catch {
  margin-block: 0.75rem 0;
  color: var(--color-accent);
  font-size: 1.625rem;
  font-weight: 700;

  @include mq(md) {
    font-size: 2rem;
  }
}

.p-feature__text {
  margin-block: 1rem 0;
  line-height: 1.8;

  @include mq(md) {
    margin-block: 2rem 0;
  }
}

.p-feature__figure {
  order: -1;
  margin: 0;

  @include mq(md) {
    width: calc(555 / var(--width-content) * 100%);
  }
}

.p-feature__img {
  width: 100%;
}
